*{
    font-family: '微軟正黑體';
}
section{
    margin:0 0 3rem 0;
}
.accordion-panel{
    display: none;
}

.tab-panel{
    display: none;
}
.tab-panel.active{
    display: block;
}

/* 懸浮視窗 */
.modal{
    position: absolute;
    z-index: 1000;
    background-color: rgb(186, 144, 228);
}

.content-text{
    background-color: rgb(202, 126, 126);
}


/* photo viewer  */
#photo-viewer{
    position: relative;
    height: 300px;
    overflow: hidden;
}
#photo-viewer.is-loading:after{
    content: '123';
    position: absolute;
    top: 0;
    right: 0;
}
#photo-viewer img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
}
.tumb-icon{
    width: 50px;
    height: 50px;
}
a.active{
    opacity: 0.3;
}

/* 圖片超過底色 */
.sec05{
    width: 100%;
    height: 500px;
    background-color: rgb(214, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container001{
    width: 100%;
    height: 200px;
    background-color: rgb(141, 170, 214);
}
.sec05-pic{
    display: flex;
    justify-content: center;
}
.container-content{
    display: flex;
    width: 80%;
    justify-content: center;
}
.text05-content{
    display: flex;
    margin:0 1rem;
    padding: 1rem;
}
.text05-title{
    display: flex;
    flex-direction: column-reverse;
    font-size: 2rem;
    margin: -50px 0;
    writing-mode: vertical-lr;
}
.text05-title :nth-child(2){
    margin-top: 2rem;
}
.text05{
    height: 180px;
    writing-mode: vertical-rl;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}
.text05 p{
    margin: 0 1rem;
}

.sec05-pic img{
    width: 200px;
    margin: -50px 0 ;
}

/* slider */
.slide-viewer{
    position: relative;
    overflow: hidden;
    height: 300px;
}
.slide-group{
    width: 100%;
    height: 100%;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
.slide:first-child{
    display: block;
}

.slide-buttons {
    text-align: center;}
  
  .slide-btn {
    border: none;
    background: none;
    color: #000;
    font-size: 200%;
    line-height: 0.5em;}
  
  .slide-btn.active, .slide-btn:hover {
    color: #ed8e6c;
    cursor: pointer;}